* {
    box-sizing: border-box;
}

html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #444;
}

button {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
    /* iets donkerder groen bij hover */
}

.contrast {
    font-family: "Montserrat", "Metropolis", sans-serif;
    color: #000;
    font-size: 1.5em;
}


#result {
    padding: 20px;
    color: #333;
    border: 1px solid #000;
    border-radius: 5px;
    max-width: 400px;
}

#restart {
    background-color: #f44336;
    margin-left: 20px;
}

#restart:hover {
    background-color: #d32f2f;
}


canvas {
    border: 1px solid black;
}


div.groot {
    border: 1px solid #000;
    text-align: center;
    width: 200px;
    padding: 20px;
}